@import url("./assets/css/fonts.css");

body {
  font-family: "Jost", sans-serif;
  color: #1a1817;
  font-size: 22px;
  font-weight: 400;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  height: 60px;
  background-color: #ffffff;
  margin-bottom: 35px;
}
.header-center {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 1066px;
  margin: 0 auto;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
}

.logo {
  width: 140px;
}
.header-publish button,
.header-search button,
.seller-buy button {
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 10px;
  width: 200px;
  height: 40px;
}
.header-publish button,
.seller-info button {
  font-size: 15px;
  color: white;
  background-color: #f56b2a;
}
.header-search button {
  font-size: 15px;
  border-radius: 5px;
  width: 130px;
  height: 32px;
}
.header-connect button {
  font-size: 13 px;
  border-radius: 5px;
  width: 130px;
  height: 25px;
}
.search {
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 #ede6ed;
  width: 810px;
  height: 130px;
  margin: 0 auto;
  background-color: #ffffff;
  margin-bottom: 40px;
}
form {
  padding-top: 30px;
}
form input[type="text"] {
  box-sizing: border-box;
  padding-left: 10px;
}
form input::placeholder {
  padding: 10px;
}
.field,
.submit-button {
  border-radius: 5px;
  margin-bottom: 15px;
}
.field {
  background-color: #fafafa;
  font-size: 15px;
  display: flex;
  width: 320px;
  height: 40px;
}
.submit-button {
  font-size: 15px;
  background-color: #4183d7;
  color: #ffffff;
  width: 150px;
  height: 32px;
}
.content {
  width: 1000px;
  margin: 0 auto;
}
.offer {
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 #ede6ed;
  display: flex;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.photo-list,
.photo-list img {
  background-color: #cad1d9;
  width: 240px;
  height: 180px;
}
.photo-list img {
  object-fit: contain;
  object-position: center;
}
.content-item,
.content-item:active,
.content-item:link,
.content-item:visited,
.content-item:hover {
  color: black;
  text-decoration: none;
}
.info-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px;
}
.info-list > div:first-child > div:first-child {
  margin-bottom: 11px;
}
.info-list > div:first-child > div:nth-child(2),
.seller-item-photo > div:nth-child(3) {
  font-size: 20px;
  color: #f56b2a;
}
.info-list > div:last-child,
.seller-item-photo > div:last-child {
  font-size: 18px;
}
.seller {
  display: flex;
  justify-content: space-between;
}
.seller-item {
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 #ede6ed;
  width: 700px;
}
.seller-item-photo {
  background-color: white;
}
.seller-info {
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 #ede6ed;
  width: 279px;
  height: 195px;
  background-color: white;
}
.seller-item-photo > div:first-child {
  border-radius: 5px;
  display: flex;
  background-color: #cad1d9;
}
.item-photo-img {
  margin: 0 auto;
}
.seller-item-photo > div:nth-child(2) {
  padding: 30px 0 2px 25px;
}
.seller-item-photo > div:nth-child(3) {
  padding: 20px 0 2px 25px;
}
.seller-item-photo > div:nth-child(4) {
  padding: 70px 0 25px 25px;
}
.seller-item-description {
  padding-left: 10px;
  font-size: 20px;
}
.seller-item-description > div:first-child {
  margin: 40px 0 40px 0;
  font-weight: 700;
}
.seller-item-description > div:last-child {
  margin-bottom: 80px;
}
.seller-info > div:first-child {
  padding: 30px;
}
form,
.login,
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  margin-top: 250px;
  text-align: center;
}
.footer a:hover {
  color: #f56b2a;
}
.footer a {
  font-weight: 700;
  text-decoration: inherit;
  color: inherit;
}
