@import url("./assets/css/fonts.css");

body {
  font-family: "Jost", sans-serif;
  color: #1a1817;
  font-size: 22px;
  font-weight: 400;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  height: 60px;
  background-color: #ffffff;
  margin-bottom: 35px;
}
.header-center {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 1066px;
  margin: 0 auto;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
  align-items: center;
}

.logo {
  width: 140px;
}
.header-publish button,
.header-search button,
.seller-buy button {
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 10px;
  width: 200px;
  height: 40px;
}
.header-publish button,
.seller-info button,
.payment-item button {
  font-size: 15px;
  color: white;
  background-color: #f56b2a;
}
.header-search button {
  font-size: 15px;
  border-radius: 5px;
  width: 130px;
  height: 32px;
}
.header-connect button {
  font-size: 13 px;
  border-radius: 5px;
  width: 130px;
  height: 25px;
}
.header-logo:hover {
  box-shadow: 0 1px 5px 0 #ede6ed;
  cursor: pointer;
}
.search {
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 #ede6ed;
  width: 810px;
  height: 130px;
  margin: 0 auto;
  background-color: #ffffff;
  margin-bottom: 40px;
}
form {
  padding-top: 30px;
}
form input,
.field [type="text"] {
  box-sizing: border-box;
  padding-left: 10px;
}
form input::placeholder {
  padding: 10px;
}
.field,
.submit-button {
  border-radius: 5px;
  margin-bottom: 15px;
}
.field {
  background-color: #fafafa;
  font-size: 15px;
  display: flex;
  width: 320px;
  height: 40px;
}
.submit-button {
  font-size: 15px;
  background-color: #4183d7;
  color: #ffffff;
  width: 150px;
  height: 32px;
}
.content {
  width: 1000px;
  margin: 0 auto;
}
.offer {
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 #ede6ed;
  display: flex;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.photo-list,
.photo-list img {
  background-color: #cad1d9;
  width: 240px;
  height: 180px;
}
.photo-list img {
  box-sizing: border-box;
  object-fit: contain;
  object-position: center;
}
.content-item,
.content-item:active,
.content-item:link,
.content-item:visited,
.content-item:hover {
  color: black;
  text-decoration: none;
}
.info-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px;
}
.info-list > div:first-child > div:first-child {
  margin-bottom: 11px;
}
.info-list > div:first-child > div:nth-child(2),
.seller-item-photo > div:nth-child(3) {
  font-size: 20px;
  color: #f56b2a;
}
.info-list > div:last-child,
.seller-item-photo > div:last-child {
  font-size: 18px;
}
.seller {
  display: flex;
  justify-content: space-between;
}
.seller-item {
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 #ede6ed;
  width: 700px;
}
.seller-item-photo > div:first-child,
.seller-item-photo {
  box-sizing: border-box;
  background-color: white;
}
.seller-info {
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 #ede6ed;
  width: 279px;
  height: 195px;
  background-color: white;
}
.seller-item-photo > div:first-child {
  border-radius: 5px;
  display: flex;
  background-color: #cad1d9;
}
.item-photo-img {
  max-width: 700px;
  max-height: 500px;
  object-position: center;
  margin: 0 auto;
}
.seller-item-photo > div:nth-child(2) {
  padding: 30px 0 2px 25px;
}
.seller-item-photo > div:nth-child(3) {
  padding: 20px 0 2px 25px;
}
.seller-item-photo > div:nth-child(4) {
  padding: 70px 0 25px 25px;
}
.seller-item-description {
  padding-left: 10px;
  font-size: 20px;
}
.seller-item-description > div:first-child {
  margin: 40px 0 40px 0;
  font-weight: 700;
}
.seller-item-description > div:last-child {
  margin-bottom: 80px;
}
.seller-info > div:first-child {
  padding: 30px;
}
form,
.login,
.signup,
.publish {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login,
.signup,
.publish {
  box-shadow: 0 1px 5px 0 #ede6ed;
  border-radius: 5px;
  width: 600px;
  background-color: white;
}
.login > div:first-child,
.signup > div:first-child,
.publish > div:first-child {
  text-align: center;
  width: 80%;
  padding-bottom: 15px;
  border-bottom: 3px solid #f56b2a;
  padding-top: 30px;
  font-size: 26px;
  font-weight: 700;
}
.login span,
.signup span,
.publish span {
  font-size: 23px;
  margin-bottom: 20px;
}
.signup span:last-of-type {
  font-size: 16px;
}
.login form input,
.publish form input,
.description {
  font-size: 19px;
  padding-left: 15px;
}
.login form input:last-child {
  width: 250px;
}
.signup form input:last-child {
  font-size: 16px;
  color: white;
  background-color: #4183d7;
  width: 250px;
  height: 40px;
}
.login > div:nth-child(3) {
  padding-top: 60px;
}
.login button,
.signup .submit-button,
.publish .submit-button {
  width: 150px;
  height: 32px;
  margin: 40px 0;
  border-radius: 5px;
  font-size: 15px;
  color: #4183d7;
  background-color: white;
}
.publish .submit-button {
  font-size: 21px;
  color: white;
  background-color: #4183d7;
}
.description,
.price {
  margin-bottom: 15px;
}
.checkbox {
  margin-bottom: 15px;
}
.file {
  margin: 20px 0 30px 90px;
}
.payment {
  display: flex;
  justify-content: center;
}
.payment-item {
  box-shadow: 0 1px 5px 0 #ede6ed;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  background-color: #ffffff;
}
.payment-item > div:first-child {
  font-weight: 700;
  padding: 30px 0 10px 0;
  border-bottom: 3px solid #f56b2a;
}
.payment-item div:nth-child(2) {
  margin: 50px 0;
}
.payment-item div:nth-child(4) {
  margin: 20px 0;
  color: #f56b2a;
}
.payment-item div:nth-child(5) {
  margin: 20px 0;
  font-weight: 700;
}
.card {
  width: 400px;
  height: 30px;
}
.payment-button {
  margin: 15px 0 40px 0;
  border-radius: 5px;
  height: 35px;
  width: 180px;
}
.done-payment {
  text-align: center;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.92);
}
.footer {
  margin-top: 250px;
  text-align: center;
}
.footer a:hover {
  color: #f56b2a;
}
.footer a {
  font-weight: 700;
  text-decoration: inherit;
  color: inherit;
}
